page-viagem-add-pessoas {
  .center {
    text-align: center;
  }
  .predef {
    display: block;
    float: right;
    margin: 5px;
  }
  .iniciarViagem {
    display: block;
    float: right;
  }
  [name="person"] {
    color: #1E90FF;
  }
  [name="arrow-dropleft"] {
    color: blue;
  }
}
