<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-buttons start left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> <p class="text-Default">Novo Passageiro</p> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Passageiro</ion-label>
        <ion-select [(ngModel)]="pessoaSelecionada" [selectOptions]="peopleAlertOpts">
           <ion-option *ngFor="let devedor of devedores" value={{devedor.tel}}>{{devedor.nome}}</ion-option>
           <ion-option value="criar">CRIAR NOVO</ion-option>
        </ion-select>
     </ion-item>
   </ion-list>
 </ion-card>

 <ion-card *ngIf="pessoaSelecionada=='criar'">
   <!--hidden-->
   <ion-list>
     <ion-list-header color="primary"> Informações do passageiro novo: </ion-list-header>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="passageiroNovo.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Celular:</ion-label>
        <ion-input type="tel" placeholder = "(88) 8 8888-8888" [(ngModel)]="passageiroNovo.tel"></ion-input>
      </ion-item>

    </ion-list>
 </ion-card>

 <ion-card>
   <ion-list>
     <ion-list-header color="primary"> Quilometragem atual do veículo:</ion-list-header>
       <ion-item>
         <ion-label> Ponto de partida </ion-label>
         <ion-toggle checked="false" [(ngModel)]='checkedQuilometragem' (click)="quilometrosInput=''"></ion-toggle>
       </ion-item>
       <ion-item class="ativado" *ngIf='checkedQuilometragem==false'>
         <ion-label floating>Quilometragem</ion-label>
         <ion-input type="number" [(ngModel)]="quilometrosInput"></ion-input>
         <ion-icon name="speedometer" item-right></ion-icon>
       </ion-item>
    </ion-list>
 </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button color="primary" icon-left outline (click)="dismiss()">
      Cancelar
    </button>

    <button ion-button color="primary" icon-right class="add" (click)="addPassageiro()" *ngIf="(pessoaSelecionada!=null && quilometrosInput!='') || (pessoaSelecionada!=null && checkedQuilometragem==true)">
      Adicionar
      <ion-icon name='add-circle'></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
