page-add-pessoas {
  .add {
    display: block;
    float: right;
  }

  .desativado {
    visibility: hidden;
  }

  .ativado {
    visibility: visible;
  }

  .comScroll {
    height: 200px;
    overflow: auto;
  }

  .semBorda {
    outline: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}
