page-viagem-fim {
  h1 {
    text-align: center;
    color: #b0c4de;;
  }
  .botaoLargo {
    height: 150px;
    font-size: 150%;
  }

  [name='paper-plane'] {
    width: 100%;
    font-size: 1300%;
    text-align: center;
    color: #b0c4de;
  }
}
